@import "../../colors.scss";

.pagination {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 5px 0 10px;
  }

  li {
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid $orange;
    cursor: pointer;
    padding: 5px;
    font-weight: 600;
  }
}
